openapi: 3.0.3
info:
  title: SMS - OpenAPI 3.0
  description: A simple api for sending sms.
  termsOfService: https://callr.a.ssl.fastly.net/my/pdf/CALLR-Conditions-Generales-EUR-20230401.pdf
  contact:
    email: ulysse.rousselet@callr.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
externalDocs:
  description: Official docs of callr
  url: https://docs.callr.com/
servers:
- url: https://api.callr.com/rest/v1.1/
tags:
- name: sms
  description: Send sms
  externalDocs:
    description: Find out more
    url: https://docs.callr.com/rest/intro/
paths:
  /sms:
    post:
      tags:
      - sms
      summary: Send sms
      description: Send sms
      operationId: Send sms
      requestBody:
        description: "{to : int, group : string, from : string, message : string}"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sms'
          application/xml:
            schema:
              $ref: '#/components/schemas/Sms'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Sms'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sms'
        "400":
          description: Invalid number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
            application/xml:
              schema:
                $ref: '#/components/schemas/error_400'
        "404":
          description: Invalid message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            application/xml:
              schema:
                $ref: '#/components/schemas/error_404'
        "405":
          description: Validation exception
components:
  schemas:
    error_400:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int64
        message:
          type: string
    error_404:
      type: object
      properties:
        id:
          type: integer
          format: int64
        message_sms:
          type: string
        message:
          type: string
    Sms:
      required:
      - from
      - message
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        to:
          type: integer
          description: Client's phone number
          format: int64
          example: 637465323
        group:
          type: string
          description: Group registered to the Database to send sms
        from:
          type: string
          description: Name of the sender that have been registered to the customer
            portail
        message:
          type: string
          description: Message to send to the client
        date:
          type: string
          description: Print the datetime
          format: date
      example:
        date: 2000-01-23
        from: from
        id: 10
        to: 637465323
        message: message
        group: group
